certifi==2020.12.5
click
dnspython==2.1.0
Flask
itsdangerous
Jinja2
MarkupSafe
# mkl-fft==1.0.6
# mkl-random<=1.0.2
# mkl-service<=2.3.0
numpy
mongoengine==0.22.1
pandas
pymongo==3.11.2
python-dateutil
pytz
six
Werkzeug
wincertstore==0.2
gunicorn>=20.0.0