.header{
    color: rgb(255, 255, 255, 1);
    text-align: center;
    padding: 30px;
    opacity: 1;
}

.bg-img{
    height: 150px;
    position: relative;
    width: 100%;
    background-position: 0% 10%;
    background-size: cover;
    
    opacity: 1
}

.hm-btn{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.btn{
    background-color: rgba(7, 36, 56, 0.432);
    color: white;
    text-align: center;
    border-color: rgb(6, 55, 78);
}

.btn-lg:hover{
    color: rgba(172, 172, 172, 0.781);
    width: 100%
}

.card-style{
    margin: auto;
}

.card{
    border-radius: 10px;
    border-color: 0px;
}