<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-color: rgb(5, 5, 5);"> 
    <div class="navbar-expand-lg navbar-light bg-img" style="background-image: url(../static/images/background.png);">
        <a href="index.html" class="navbar-brand px-3 hm-btn" style="color: white;">Home</a>
        <h1 class="header"><b> Inclusión digital en México - 2020</b></h1>
    </div>
   
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>