<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-color: rgb(5, 5, 5);"> 
    <div class="navbar-expand-lg navbar-light bg-img" style="background-image: url(../static/images/background.png);">
        <a href="index.html" class="navbar-brand px-3 hm-btn" style="color: white;">Home</a>
        <h1 class="header"><b> Inclusión digital en México - 2020</b></h1>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="card text-center mb-3 card-style" style="width: 14rem;">
                        <div class="card-header" style="background-color: rgba(18, 98, 134, 0.952); color: white;">
                            <h5>State Search</h5>
                        </div>
                        <div class="card-body" style="background-color:rgba(18, 97, 134, 0.568);">
                            <div class="btn-group">
                                <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select a State
                                </button>
                                <div class="dropdown-menu" id="dropdown-list">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another action</button>
                                    <button class="dropdown-item" type="button">Something else here</button>    
                                </div>      
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>    
</body>
</html>